@page "/"
@using UT.Components.Helpers

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Component1></Component1>

<InboxWidget />

<UTTable Items="movies" />

<DataTableNew Items="movies" />

@code 
{
    public class Movie
    {
        public int Id { get; set;}
        public string Title {get; set;} = string.Empty;
        public DateTime ReleaseDate {get; set;}
    }

    private IEnumerable<Movie> movies = new [] {
        new Movie() { Id = 1, Title="A", ReleaseDate=new(2019,2,23)},
        new Movie() { Id = 2, Title="B", ReleaseDate=new(2021,3,24)}
        };

}